{% extends "layout.html" %}
{% block pageTitle %}
  Manage users
{% endblock %}

{% block beforeContent %}
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@companieshouse.gov.uk
    </li>
    <li>
      <a href="/account/login" id="user-signout">Sign out</a>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <style>
    .govuk-button {
      margin-bottom: 0;
      float: right;
    }
  </style>

  <div class="govuk-grid-column-full-width">
    <span class="govuk-caption-xl">FES admin system - internal system access</span>
    <h1 class="govuk-heading-xl">Manage users</h1>
    <a href="add-user" role="button" class="govuk-button">
      Add a user
    </a>
  </div>
  <br>
  <div class="govuk-grid-column-full-width" style="padding-top:50px">
    <p class="hmcts-pagination__results">
      <b>Showing 6</b>
      results</p>
    {{ govukTable({

 firstCellIsHeader: false,
 class:sortable,
 head: [
 {
 html: "<a href='' class='sort'>Username"
 },
 {
 html: "<a href=''>Name</a>"
 },
 {
 html: "<a href=''>Status</a>"
},
 {
 html: "<a href=''>Service now reference</a>",
 format: "numeric"
 },
 {
 text: "Action",
 format: "numeric"
 }
 ],
 rows: [
 [
 {
 text: "jsmith@companieshouse.gov.uk"
 },{
 text: "John Smith"
 },
 {
  text: "Active"
 },

 {
  text: "INC0244107",
  format: "numeric"
 },
 {
  html:"<a href='user-deactivated' class='govuk-button govuk-button--warning' data-module='govuk-button'>
  Remove
</a>"
 }

 ],

 [
 {
 text: "jsmith@companieshouse.gov.uk"
 },{
 text: "John Smith"
 },
 {
  text: "Active"
 },

 {
  text: "INC0244107",
  format: "numeric"
 },
 {
   html:"<a href='user-deactivated' class='govuk-button govuk-button--warning' data-module='govuk-button'>
   Remove
 </a>"
 }

 ],[
 {
 text: "jsmith@companieshouse.gov.uk"
 },{
 text: "John Smith"
 },
 {
  text: "Active"
 },

 {
  text: "INC0244107",
  format: "numeric"
 },
 {
   html:"<a href='user-deactivated' class='govuk-button govuk-button--warning' data-module='govuk-button'>
   Remove
 </a>"
 }

 ],[
 {
 text: "jsmith@companieshouse.gov.uk"
 },{
 text: "John Smith"
 },
 {
  text: "Active"
 },

 {
  text: "INC0244107",
  format: "numeric"
 },
 {
   html:"<a href='user-deactivated' class='govuk-button govuk-button--warning' data-module='govuk-button'>
   Remove
 </a>"
 }

 ],[
 {
 text: "jsmith@companieshouse.gov.uk"
 },{
 text: "John Smith"
 },
 {
  text: "Active"
 },

 {
  text: "INC0244107",
  format: "numeric"
 },
 {
   html:"<a href='user-deactivated' class='govuk-button govuk-button--warning' data-module='govuk-button'>
   Remove
 </a>"
 }

 ],[
 {
 text: "jsmith@companieshouse.gov.uk"
 },{
 text: "John Smith"
 },
 {
  text: "Active"
 },

 {
  text: "INC0244107",
  format: "numeric"
 },
 {
   html:"<a href='user-deactivated' class='govuk-button govuk-button--warning' data-module='govuk-button'>
   Remove
 </a>"
 }

 ]

 ]
 }) }}
    <p class="hmcts-pagination__results">Showing
      <b>6</b>
      results</p>

  </div>

{% endblock %}