{% extends "layout.html" %}
{% block pageTitle %}
  View search results
{% endblock %}

{% block beforeContent %}
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@companieshouse.gov.uk
    </li>
    <li>
      <a href="/account/login" id="user-signout">Sign out</a>
    </li>

  </ul>
  <a class="govuk-back-link" href="search">Back to search</a>
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Search results for "00030209"
  </h1>

  <span id="results-hint" class="govuk-hint">
    Showing 4 of 4 results
  </span>
  <div class="govuk-grid-column-full-width">
    {{ govukTable({

      firstCellIsHeader: false,
      class:sortable,
      head: [
      {
      html: "<a href=''>Barcode</a>"
      },
      {
      html: " <a href=''>User</a>"
      },
      {
      html: " <a href=''>Company number</a>"
      },
      {
      html: " <a href=''>Type</a>"
      },
      {
      html: " <a href=''>Status</a>"
      },
      {
      html: "  <a href='' class='sort'>Status changed</a>",
      format: "numeric"
      }
      ],
      rows: [
  [
      {
      html: " <a href='view-document-details'>X92K2B3F</a>"
      },

      {
      text: "fsmith"
      },
      {
      text: "00030209"
      },
      {
      text: "AP03"
      },
      {
      html: "<strong class='govuk-tag'>
      Error - status conflict
    </strong>"
      },
      {
      text: "28 Oct 2020",
      format: "numeric"
      }
      ],

      [
      {
      html: " <a href='view-document-details'>X96DGIDK</a>"
      },{
      text: "jgreen"
      },
      {
      text: "00030209"
      },
      {
      text: "TM01"
      },

      {
      text: "EFS Accepted CHIPS"
      },
      {
      text: "21 Oct 2020",
      format: "numeric"
      }
      ],

      [
      {
      html: " <a href='view-document-details'>X8IMI6YW</a>"
      },{
      text: "jgreen"
      }, {
       text: "00030209"
       },
      {
      text: "CS01"
      },

      {
      text: "Manual Validation"
      },
      {
      text: "14 Oct 2020",
      format: "numeric"
      }

      ],

      [
      {
      html: " <a href='view-document-details'>X7GP66D5</a>"
      },
      {
      text: "cjones"
      },{
      text: "00030209"
      },
      {
      text: "AP01"
      },

      {
      text: "Identified"
      },
      {
      text: "2 Oct 2020",
      format: "numeric"
      }
      ]

      ]
      }) }}

  </div>

{% endblock %}