{% extends "layout.html" %}

{% block pageTitle %}
  FES admin system
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        FES admin system (prototype)
        <span class="govuk-caption-xl">Version 1: Created November 2020</span>

      </h1>
      <h2 class="govuk-heading-l">Shortcuts</h2>
      <h3 class="govuk-heading-m">MVP</h3>
      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="login">Sign in</a>
        </li>
        <li>
          <a href="search">Search</a>
        </li>
        <li>
          <a href="search-results">Search results</a>
        </li>
        <li>
          <a href="view-document-details">View document details</a>
        </li>
      </ul>

      <h3 class="govuk-heading-m">Service improvements</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="service-improvements/search">Search (with Company number and CHIPS user)</a>
        </li>
        <li>
          <a href="service-improvements/search-results-2">List (with results for company number)</a>
        </li>
        <li>
          <a href="service-improvements/search-results">List (with sort and identifies any issues with status)</a>
        </li>
        <li>
          <a href="service-improvements/view-document-details">View document details (with timeline)</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}