{% extends "layout.html" %}

{% block pageTitle %}
  FES admin system
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Shortcuts</h1>
      <h2 class="govuk-heading-l">FES admin system
        <br>(Prototype - v1 - October 2020)
      </h2>
      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="login">Sign in</a>
        </li>
        <li>
          <a href="search">Search</a>
        </li>
        <li>
          <a href="list">List</a>
        </li>
        <li>
          <a href="view-document-details">View document details</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}