{% extends "layout.html" %}
{% block pageTitle %}
  Search
{% endblock %}

{% block beforeContent %}
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@companieshouse.gov.uk
    </li>
    <li>
      <a href="/account/login" id="user-signout">Sign out</a>
    </li>
  </ul>
{% endblock %}

{% block content %}

  {{ govukInput({
  label: {
    text: "Search for documents",
    classes: "govuk-label--xl",
    isPageHeading: true
  },
  hint: {
    text: "Search by document barcode"
  },
  id: "search",
  name: "search",
   classes: "govuk-input--width-20"
}) }}

  {{ govukButton({
    text: "Search",
    href: "search-results"
  }) }}

</div>
</div>

</div>
{% endblock %}