{% extends "layout.html" %}

{% block pageTitle %}
  View document details - X92K2B3F
{% endblock %}

{% block beforeContent %}

  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@companieshouse.gov.uk
    </li>
    <li>
      <a href="/account/login" id="user-signout">Sign out</a>
    </li>
  </ul>
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="sticky">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <span class="govuk-caption-xl">Document type - SLP PSC01</span>
        <h1 class="govuk-heading-xl">
          Barcode - X92K2B3F</h1>
      </div>
      <div class="govuk-grid-column-one-half no-print">
        <p class="float-right">Current status:<br>
          <strong>
            Accepted in CHIPS</strong><br>
          at 15:34 on Wednesday 28 Oct 2020</p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-l">Document overview</h2>
    </div>
    <div class="govuk-grid-column-one-half"></div>
  </div>

  <h2 class="govuk-heading-m">Status details</h2>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        CHIPS status
      </dt>
      <dd class="govuk-summary-list__value">Accepted in CHIPS (fsmith)</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        FES status
      </dt>
      <dd class="govuk-summary-list__value">Sent to CHIPS</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Location
      </dt>
      <dd class="govuk-summary-list__value">Scottish DEB (FES)</dd>
    </div>

  </dl>
  <h2 class="govuk-heading-m">Document details</h2>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Form Identification
      </dt>
      <dd class="govuk-summary-list__value">
        SLPPSC01
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Envelope number
      </dt>
      <dd class="govuk-summary-list__value">
        8632
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Document ID
      </dt>
      <dd class="govuk-summary-list__value">
        A64313
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Company number (if known)
      </dt>
      <dd class="govuk-summary-list__value">
        00030209
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Scan time
      </dt>
      <dd class="govuk-summary-list__value">
        13:45 on Tuesday 27 Oct 2020 by rhazell
      </div>
    </dl>

    <h2 class="govuk-heading-m">ICO information</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Returned to ICO (include reason)
        </dt>
        <dd class="govuk-summary-list__value">
          not for CHIPS (rhazell)
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          ICO Action
        </dt>
        <dd class="govuk-summary-list__value">
          Split (12:35 on Thursday 22 Oct 2020)
        </dd>
      </div>
    </dl>
    <h2 class="govuk-heading-m">Additional information</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Form re-identification
        </dt>
        <dd class="govuk-summary-list__value">
          15:45 on Friday 23 Oct 2020
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Action taken
        </dt>
        <dd class="govuk-summary-list__value">
          Accepted 15:45 on Tuesday 27 Oct 2020
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-l">Timeline</h2>

    {{ govukTable({

firstCellIsHeader: false,
class:sortable,
head: [
{
text: "Date"

},{
text: "Event"
},{
text: "Location"
},

{
  text: "CHIPS user"
}
],
rows: [
[ {
   text: "20 Oct 2020 at 14:27pm"
 }, {
    text: "Split"
  },
  {
    text: "."
  },
  {
    text: "cgilmore"
  }
],

[ {
   text: "19 Oct 2020 at 11:07am"
 }, {
    text: "Form re-identification"
  },{
    text: ""
  },

  {
    text: "swigley"
  }
],
[ {
   text: "18 Oct 2020 at 9:10am"
 }, {
    text: "Accepted"
  },{
    text: ""
  },

  {
    text: "pmonks"
  }
],
[ {
   text: "17 Oct 2020 at 14:22pm"
 }, {
    text: "Scanned"
  },{
    text: ""
  },

  {
    text: "rhazell"
  }
]
]
}) }}

  {% endblock %}